 <div style="text-align:center; margin-top: 100px; " class="justify-content-center d-flex">
    <mat-card style="margin-top:10px; width: 50%;">
      <mat-card-content>
        <ul>
          <li *ngFor="let file of files">
            <mat-progress-bar [value]="file.progress"></mat-progress-bar>
            <span id="file-label">

                      </span>
          </li>
        </ul>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button color="warn" (click)="onClick()">
          <mat-icon>file_upload</mat-icon>
          Upload
        </button>
      </mat-card-actions>
    </mat-card>
    <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
  </div>


<div class="mt-5 row" *ngIf="products">
  <ng-container  *ngFor="let product of products">
    <div  class="col-lg-3 col-md-4 col-sm-6 mt-4">
      <mat-card class="p-3">
        <img matCardImage  src="{{BASE_URL + 'image/' + product.image_name}}">
        <br/>
        <mat-card-subtitle>
          The analysis result of : {{product.image_name}}
        </mat-card-subtitle>
        <mat-card-content>
          <div class="d-flex">
            <div class="col-6">Silver standard mark:</div>
            <div class="col-6 overflow-auto">{{product.silver_mark_name}} ({{product.silver_mark_value}})</div>
          </div>
          <div class="d-flex">
            <div class="col-6">Assay location:</div>
            <div class="col-6 overflow-auto">{{product.assay_location_name}} ({{product.assay_location_value}})</div>
          </div>
          <div class="d-flex">
            <div class="col-6">Date:</div>
            <div class="col-6 overflow-auto">{{product.date_name}}({{product.date_value}})</div>
          </div>
          <div class="d-flex">
            <div class="col-6">Makers mark:</div>
            <div class="col-6 overflow-auto">{{product.maker_mark_name}}( {{product.maker_mark_value}})</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>
